@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --color-dark-blue: #35383e;
  --color-primary: #00adb5;
  --color-dark-gray: #818181;
  --color-text-gray: #9a9c9f;
  --color-light-gray: #eeeeee;
  --color-white: white;
  --color-background: #f8f8f8;
  --color-process: #ffaa04;
  --color-danger: #ef4444;
}

body {
  background-color: rgb(241, 241, 241);
}
